body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
a {
  color: blueviolet;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}
main {
  padding: 30px;
}
.container {
  background: #ffffff;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
}
.input-search {
  font-size: 16px;
  padding: 15px;
  width: 70%;
  background: #f9f7fe;
  border: none;
  border-radius: 5px;
  line-height: 1.3;
}
.search-button {
  background-color: #885df1;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  margin-left: 10px;
  line-height: 1.3;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-temp {
  font-size: 48px;
}
.temp-emoji {
  width: 80px;
  height: 80px;
}
.temp-value {
  font-size: 70px;
  font-weight: 700;
}
.temp-unit {
  position: relative;
  font-size: 28px;
  top: -35px;
}
.current-city {
  font-size: 40px;
  font-weight: 900;
  margin: 0;
}
.current-update {
  color: #979292;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.current-update strong {
  color: #f65282;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  color: #726d6d;
  padding-top: 30px;
}
